.sataurih1 {font-size: 42px; font-weight: 100px; width: 510px; margin-left: 163px;margin-top: 103px;}
.box-1 {width: 536px; background-color: #F8F8F8; float: left; margin-left: 163px;}
.box-2 {width: 536px; background-color:  #F8F8F8; float: left; margin-left: 16px;} 
.image-box {float: left;}
.text-box {float: left; width: 260px; margin-left: 16px;}
.line-1 {margin-top: 268px; padding-bottom: 16px;}
.mini-satauri { margin-left: 163px; margin-top: 103px;}
.box-heder-2 {width: 465px; margin-left: 163px; margin-top: 90px;padding-bottom: 163px; font-weight: bold;}
.line-3 {width: 1101px; margin-left: 163px; height: 390px;}
 .box-3 {float: left; width: 359px; background-color: #F8F8F8;}
 .box-4 {float: left; width: 359px; background-color:  #F8F8F8;}
.box-5 {float: left; width: 359px; background-color:  #F8F8F8;;}
.p-size {width: 253px;}
.blue {color: #5863F8; }
.bold {font-weight: bold;}
.p-style {color: #B1B1B1; padding-left: 46px;  padding-top: 10px;}
.fruits {padding-left: 125px; margin-top: 23px;}
.food {padding-left: 125px;margin-top: 23px; font-size: 14px; font-weight: bold;}
.cooking {padding-left: 142px; margin-top: 23px;}
.succed {padding-left: 63px; font-size: 18px;padding-top: 5px; }
.delicius {padding-left: 72px; padding-top: 5px;}
.getting {padding-left: 91px; padding-top: 5px;}
.hed {font-size: 42px; font-weight: bold;}
.size-1 {font-size: 18px; padding-top: 0px;}
.food-1 {margin-top: 36px;}
.dezert-1 {margin-top: 36px;}
.first-p {padding-top: 10px; color: #B1B1B1;}



/*base classes*/
.f-left {float: left;}
.f-rigth {float: right;}
.clear {clear: both;}
