.sataurih1 {font-size: 42px; font-weight: 100px;}
.box-1 {width: 536px; background-color: #F8F8F8; float: left;}
.box-2 {width: 536px; background-color:  #F8F8F8; float: right;} 
.image-box {float: left;}
.text-box {float: left; width: 260px; margin-left: 16px;}
